*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
hs_err_pid14376.log
hs_err_pid16140.log
hs_err_pid19360.log
hs_err_pid19428.log
hs_err_pid20160.log
hs_err_pid20504.log
hs_err_pid20508.log
hs_err_pid24552.log
hs_err_pid3956.log
*.log
